[submodule "Checkers/Libftest"]
	path = Checkers/Libftest
	url = https://github.com/jtoty/Libftest.git
[submodule "Checkers/42FileChecker"]
	path = Checkers/42FileChecker
	url = https://github.com/jgigault/42FileChecker
[submodule "Checkers/libft-unit-test"]
	path = Checkers/libft-unit-test
	url = https://github.com/alelievr/libft-unit-test
